*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/store/Application/nbproject/private/
/store/Application/Application-war/nbproject/private/
/store/Application/Application-ejb/nbproject/private/
/store/Application/Application-ejb/build/
/store/Application/Application-ejb/dist/
/store/Application/Application-war/build/
/store/Application/build/
/store/Application/Application-war/dist/
/warehouse/warehouse/nbproject/private/
/warehouse/warehouse/warehouse-ejb/nbproject/private/
/warehouse/warehouse-ac/nbproject/private/
/warehouse/warehouse-ac/build/
/warehouse/warehouse/warehouse-ejb/build/
/warehouse/warehouse/build/
/warehouse/warehouse/warehouse-ejb/dist/
/warehouse/warehouse-ac/dist/
/warehouse/warehouse/dist/
/storeAPI/storeAPI/nbproject/private/
/storeAPI/storeAPI/dist/
/warehouse/WarehouseInterface/nbproject/private/
/warehouse/WarehouseInterface/build/
/warehouse/WarehouseInterface/dist/
/store/Application/WebApplication/nbproject/private/
/store/Application/WebApplication/build/
/store/Application/WebApplication/dist/
/store/Application/StoreGUIApp/nbproject/private/
/store/Application/StoreGUIApp/build/
/store/Application/StoreGUIApp/dist/
/storeAPI/storeAPI/build/
/store/Application/dist/
/warehouse/WarehouseInterface/build